name: test
on:
  push:
    branches-ignore:
      - 'actions-commit-and-create-pr/*'

jobs:
  test:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@93cb6efe18208431cddfb8368fd83d5badbf9bfd # v5.0.1
      - uses: ./
        with:
          github-token: "this token should be not used because there is no changes"
      - name: make some changes
        run: ./testdata/update.sh
        shell: bash
      - id: commit
        uses: ./
      - name: verify
        run: |
          ./testdata/verify.sh ${{ steps.commit.outputs.pr-url }}
        shell: bash
        env:
          GITHUB_TOKEN: ${{ github.token }}
      - name: clean up
        if: always()
        run: |
          gh pr close --delete-branch ${{ steps.commit.outputs.pr-url }} || true
        shell: bash
        env:
          GITHUB_TOKEN: ${{ github.token }}
